.background{
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(270deg,#4facfe,#00f2fe,#43e97b);
    background-size:600% 600%;
    animation:bgMove 12s ease infinite;
    z-index:-1;
}

@keyframes bgMove{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
